body{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    line-height: 1.6em;
    background-color: antiquewhite;
    }
    
body::-webkit-scrollbar{
    width: 11px;
}

body::-webkit-scrollbar-thumb{
    background:rgb(0, 0, 0);
}

    h1{
        line-height: 1.3em;
        font-size:2rem;
        text-align: center;

    }

    h2{
        line-height: 1.3em;
        font-size:2rem;
        text-align: center;
    }
    
    p{
        margin-bottom: 1.6em;
    }
    
    .container{
        width: 85%;
        max-width: 850px;
        margin: 0 auto;
    }
    
    .header{
        background-color: #6a60f8;
        color: white;
        padding: 1rem 0;
    
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
    }
    
    .header a{
        background-color:#6a60f8;
        color: white;
        text-decoration: none;
    }
    
    .logo-nav-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .logo{
        letter-spacing: 15px;
        font-size: 1.2em;
    }
    
    .navigation ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    .navigation ul li{
        display: inline-block;
    }
    
    .navigation ul li a{
        display: block;
        padding: 0.5rem 1rem;
        transition: all 0.4s linear;
        border-radius: 5px;
    }
    
    .navigation ul li a:hover{
        background: #8ea313;
    }
    
    .footer{
        background: #464646;
        padding:0.5rem 0;
        text-align: center;
        margin-top: 6rem;
        color: white;
    }
    
    .main{
        padding-top: 12rem;
    }

    .articulo{
        width: 85%;
        max-width: 850px;
        margin: 0 auto;
    }
    
    .card {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
      }
      

      .btn button{
        margin-left: 20px;
        font-weight: 700;
        color: #1b3039;
        padding: 9px 25px;
        background: #eceff1;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }
    
    .btn button:hover{
        background-color: #e2f1f8;
        color: #ffbc0e;
        transform: scale(1.1);
    }
      /* On mouse-over, add a deeper shadow */
      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
      
      /* Add some padding inside the card container */
      .container {
        padding: 2px 16px;
      }
    
    @media (min-width: 600px)
